body{
	background:#e6f9ff;
	margin:0;
	padding:0;
	font-family: Sans-serif;
	font-size:14px;
}
.clear{
	clear:both;
}

#contenedor{
	width:990px;
	margin:0 auto;
}

h1 {
    font-size: 140%;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

a{
	text-decoration:none;
	color:#83aec0;
}

#cabecera{
	padding-bottom:10px;
	border-bottom:1px #cacaca solid; 
	height:80px;
}

#logo{
	float:left;
	padding-right:10px;
	border-right:1px #cacaca solid;
}
#logo img{
	width:250px;
	height:80px;
}
#eslogan{
	float:left;
	padding-left:10px;
	width:500px;
}

#acceso{
	float:right;
	padding-right:10px;
	padding-top:50px;
}

#foto_demo img{
	width:990px;
	height:600px;
}
